body {
  background-color: #000;
  font-family: "CircularSp", sans-serif;
  font-size: 16px;
}

a,
button {
  cursor: pointer;
}

.layout {
  display: grid;
  grid-gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.layout .sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.sidebar-nav-link__card {
  border-radius: 8px;
  background-color: #121212;
}

.sidebar-nav-link__card .logo {
  display: flex;
}

.logo a {
  margin: 20px 0 0;
  padding: 0 24px;
  height: 24px;
}

.logo a img {
  width: 78px;
  height: 24px;
}

.sidebar-nav-link__card ul {
  padding: 8px 12px;
}

.sidebar-nav-link__card ul li {
  padding: 4px 12px;
}

.sidebar-nav-link__card ul li a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: #b3b3b3;
  font-weight: bold;
  width: 312px;
  height: 40px;
}

.sidebar-nav-link__card ul li a .fa {
  width: 24px;
  font-size: 21px;
}

.sidebar-info__card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #121212;
}

.sidebar-info__card .library {
  display: flex;
  flex-direction: column;
}

.library .library__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
}

.library__header .library__button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  padding: 4px 8px;
  margin-right: 145.891px;
  font-weight: bold;
  color: #b3b3b3;
}

.library__button .fa-book {
  display: flex;
  margin-right: 12px;
  font-size: 25px;
}

.library__header .plus__button {
  background-color: transparent;
  padding: 8px;
  color: #b3b3b3;
}

.library__sections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #b3b3b3;
  padding: 0 8px 8px;
}

.library__sections .library__sections__content {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-radius: 8px;
  padding: 16px 20px;
  margin: 8px 0px;
}

.library__sections__content .text {
  padding-bottom: 14px;
  color: #fff;
}

.library__sections__content .title {
  font-weight: bold;
}

.library__sections__content .subtitle {
  font-weight: 500;
  font-size: 13px;
}

.library__sections__content .sidebar-section__button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  margin-top: 12px;
}

.create-playlist__button {
  width: 115px;
}

.browse-podcast__button {
  width: 120px;
}

/* .sidebar-footer__content {
  
} */

.sidebar-footer__links {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
  padding: 0 24px;
  text-align: start;
}

.sidebar-footer__links .link {
  margin: 0 16px 0 0;
}

.link a {
  display: flex;
  /* color: #b3b3b3; */
  margin-bottom: 8px;
}

.link a span {
  font-size: 11px;
  font-weight: 400;
  color: #a7a7a7;
}

.privacy-choices-link {
  display: flex;
  flex: row;
}

/* .sidebar-footer__links a:hover { */
/* text-decoration: underline; */
/* } */

.sidebar-footer__languages {
  margin: 0 0 32px;
  padding: 0 24px;
}

.sidebar-footer__languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 9999px;
  color: #fff;
  padding: 9px 15px;
  font-weight: bold;
  font-size: 14px;
}

.layout .footer {
  grid-column: 1 / span 2;
  height: 64px;
  padding: 11px 24px 7px 15px;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
}

.footer .footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__content .footer__section {
  display: flex;
  flex-direction: column;
}

.layout .main {
  grid-row: 1;
  grid-column: 2;
  border-radius: 8px;
  background-color: #121212;
}
